<?xml version="1.0"?>

<launch>
  <!-- define defaults -->
  <arg name="robot_namespace" default="/"/>

  <arg name="output_frame_id" default="$(optenv OUTPUT_FRAME_ID velodyne_frame)" />

  <arg name="min_range" default="$(optenv MIN_RANGE 0.9)" />
  <arg name="max_range" default="$(optenv MAX_RANGE 130.0)" />
  
  <param name="robot_description" command="$(find xacro)/xacro '$(find merge)/urdf/velodyne.urdf.xacro'
    robot_namespace:=$(arg robot_namespace)

    output_frame_id:=$(arg output_frame_id)

    min_range:=$(arg min_range)
    max_range:=$(arg max_range)
    " />  

</launch>
