<?xml version="1.0"?>

<launch>
    <!-- Replace with the desired config file -->
    <arg name="robot_name" default="husky" />

    <arg name="enable_range" default="true"/>

    <node name="point_cloud_merger_node" output="screen" pkg="ros-point-cloud-merger" type="point_cloud_merger_node">

        <param name="enable_range" type="string" value="$(arg enable_range)"/>

        <rosparam command="load" file="$(find ros-point-cloud-merger)/config/$(arg robot_name).yaml" />

    </node>
</launch>
