<launch>
    <!-- ensures that Global Status & Fixed Frame == OK -->
    <include file="$(find ros-point-cloud-merger)/launch/gmapping_package.launch" />

    <!-- launches rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros-point-cloud-merger)/rviz/8ptclouds_run.rviz" output="screen"/>
</launch>